@model Service

<form method="post" asp-action="Delete">
	<!--Не обязательно указывать название метода, так как он одноименный и найдется сам-->
	<input asp-for="ServiceId" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">
				Желаете удалить услугу?
			</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@ <!--All errors are shown-->
		<div class="mb-3">
			<label asp-for="ServiceName">Наименование услуги</label>
			<input asp-for="ServiceName" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Description">Описание услуги</label>
			<input asp-for="Description" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Price">Цена, руб.</label>
			<input asp-for="Price" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Удалить</button>
		<a asp-controller="Service" asp-action="Index" class="btn btn-secondary" style="width:200px">
			Вернуться к списку
		</a>
	</div>
</form>

<!--Add client side validation-->
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial.cshtml" />
	}
}

