@model Zone

<form method="post" asp-action="Delete">
	<input asp-for="ZoneId" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">
				Желаете удалить зону?
			</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="ZoneName">Название зоны</label>
			<input asp-for="ZoneName" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Удалить</button>
		<a asp-controller="Zone" asp-action="Index" class="btn btn-secondary" style="width:200px">
			Вернуться к списку
		</a>
	</div>
</form>

<!--Add client side validation-->
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial.cshtml" />
	}
}

