@{
    ViewData["Title"] = "Контактная информация";
}


    
<style>
    .contact {
        background-color: #D6B7FD;
        color: #333;
        padding: 2rem;
    }

        .contact h3 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .contact p {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .contact .icon {
            margin-right: 0.5rem;
        }
</style>

<section class="contact" id="contact">
    <div class="container">
        <h1>КОНТАКТНАЯ ИНФОРМАЦИЯ</h1>
        <h2><i class="bi bi-geo-alt icon"></i> Добираться удобно</h2>
        <p>Мы находимся в самом центре Перми по адресу:</p>
        <p>ул. Бульвар Гагарина, 37</p>
        <h4><i class="bi bi-bus-front"></i> Общественным транспортом</h4>
        <p>К нам можно добраться практически на любых автобусах и маршрутках, которые едут в сторону "Центрального Пляжа".</p>
        <h4><i class="bi bi-car-front"></i> На машине</h4>
        <p>Наши координаты на картах: GPS 44.8996059,37.3171511</p>
        <p><i class="bi bi-telephone icon"></i> Номер телефона: +7(900)555-55-55</p>
        <p><i class="bi bi-envelope icon"></i> Почта: waterworldperm@aqua.com</p>
    </div>
</section>

   


