@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ запрещен";
}

<style>
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .icon {
        font-size: 72px;
        color: red;
    }
</style>

<div class="center">
    <i class="bi bi-eye-slash icon"></i>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">К сожалению, у вас нет необходимых прав для просмотра данной страницы. Если вам кажется, что это ошибка, пожалуйста, свяжитесь с администратором системы.</p>
</div>
