@model Staff

<form method="post" asp-action="Delete">
	<!--Не обязательно указывать название метода, так как он одноименный и найдется сам-->
	<input asp-for="EmployeeId" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">
				Желаете удалить сотрудника?
			</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@ <!--All errors are shown-->
		<div class="mb-3">
			<label asp-for="EmployeeSurname">Фамилия сотрудника</label>
			<input asp-for="EmployeeSurname" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="EmployeeName">Имя сотрудника</label>
			<input asp-for="EmployeeName" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="EmployeePatronymic">Отчество сотрудника</label>
			<input asp-for="EmployeePatronymic" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Post">Должность</label>
			<select asp-for="Post" asp-items="ViewBag.Posts" disabled class="form-control"></select>
		</div>
		<div class="mb-3">
			<label asp-for="DateOfHiring">Дата найма</label>
			<input asp-for="DateOfHiring" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Удалить</button>
		<a asp-controller="Staff" asp-action="Index" class="btn btn-secondary" style="width:200px">
			Вернуться к списку
		</a>
	</div>
</form>

<!--Add client side validation-->
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial.cshtml" />
	}
}

